<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
        <div class="container-fluid">


          <a class="navbar-brand" href="#">Small Business!</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              
              
              <li class="nav-item">
                <a class="nav-link" href="/about">About </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      </nav>

      <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3"> Welcome My Small Business!</h1>
            <p>My Small Bussiness  is an Indian marketing company headquartered in Bangalore, Karnataka, India and registered in Singapore.[8] The company initially focused on  sales, before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.
    
               
                
                .</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
          </div>
        </div>
      
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2><i><b>Small business</b></i></h2>
              <p> This is Small Bussiness and marcketing sports. You get best service here </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
              <h2><b><i>Access to Information!</i></b></h2>
              <p>We provide good service, cloud service and find aut how we can solve costumer problems</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
              <h2><b><i>service!</i></b></h2>
              <p>We provide service to the costumer like B2B sale,C2C,sale, also provide cloud service</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
          </div>
      
          <hr>
      
        </div> <!-- /container -->
      
      </main>

      
    </body>
    </html>